﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Glavna.Master" AutoEventWireup="true" CodeBehind="Login.aspx.cs" Inherits="eFinProWeb.Login" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <style type="text/css">
        .auto-style1 {
            width: 0px;
            margin-left: 0PX;
        }

        .container {
            display: flex;
            justify-content: center;           
        }
        .kriva{
            border-radius: 10px;
        }
    </style>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div id="Login" style="background-color: #c3c3c3">
        <div style="background-color: #c3c3c3;" class="container">
            <img src="Grafika/logog.png" width="10%" height="1%" />
        </div>

        <table style="margin: auto; vertical-align: central; border: 3px solid #fadb41; background-color: #474747;">
            <tr>
                <td>
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:Label runat="server" Text="Korisnik"></asp:Label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:TextBox runat="server" ID="txtUserName" CssClass="kriva"></asp:TextBox>
                </td>
                <br />
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:Label runat="server" Text="Password"></asp:Label>
                    &nbsp;&nbsp;&nbsp;&nbsp;
    <asp:TextBox runat="server" ID="txtPassWord" TextMode="Password" CssClass="kriva"> </asp:TextBox>
                </td>
            </tr>
            <tr>
                <td>
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
                        <asp:Button ID="Spasi" runat="server" Text="LOGIN" Width="102px" OnClick="Spasi_Click" class="kriva" />
                    &nbsp;&nbsp;
                        <asp:Button ID="btnRegistar" runat="server" Text="Registracija" OnClick="btnRegistar_Click" CssClass="kriva"/>
                    <br />
                    <asp:Label ID="lblErrMgb" runat="server" Text=" "></asp:Label>
                    <br />
                </td>
            </tr>
        </table>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

    </div>
</asp:Content>

