﻿body {
    font-family: Calibri;
    font-size: 12pt;
    background-color: #c3c3c3;
}

#maindata {
    position: relative;
    width: 100px;
    margin: auto;
    background-color: white;
}

#Header {
    width: 100%;
    top: 0px;
    height: 45px;
    position: fixed;
    background-image: url('../Grafika/logomali.png');
    background-repeat: no-repeat;
    text-decoration-color: #fadb41;
    background-color: #474747;
    text-align: center;
    z-index: 1;
}

#Menu {
    width: 100%;
    height: 60px;
    background-color: white;
    top: 100px;
}

.navbar {
    background-color: #303235;
    overflow: hidden;
    height: 53px;
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 45px;
}

.navbar a {
    float: left;
    display: block;
    color: #eeae39;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
}

.navbar ul {
    margin: 0px 0px 0 0px;
    list-style:none;
    font-size: 16px;
}

    .navbar a:hover {
        background-color: #ddd;
        color: black;
    }

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 8px;
    background-color: #000;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 10px;
    transition: 0.5s;
    font-size: 16px;
}

.side-nav ul {
    list-style: none;
    margin: 0;
}

.side-nav ul ul{
    transition: all 0.5s;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    left: 100%;
    top: -2%;
}

.side-nav ul li {
    padding: 3px;
    position: relative;
    width: 220px;
    border-top: 1px solid;
}

.side-nav ul li:hover > ul > li {
    opacity: 1;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0) !important;
}

.side-nav ul li a {
    padding: 0px 015px 5px 0px;
    text-decoration: none;
    visibility: visible;
    /*font-size: 16px;*/
    color: #999eea;
    display: block;
    transition: 0.5S;
}

.side-nav a:hover {
    color: #fff;
    background-color:gray;
}

.side-nav .btn-close {
    position: absolute;
    top: 5px;
    right: 12px;
    font-size: 26px;
    margin-left: 12px;
    text-decoration: none;
}

#main {
    transition: margin-left 0.5s;
    padding: 0px;
    overflow: hidden;
    width: 100%;
    
}

#Content {
    width: 100%;
    height: 30000px;
    background-color: white;
    top: 100px;
}

#Footer {
    width: 100%;
    height: 40px;
    background-color: #c3c3c3;
    text-align: center;
    text-decoration-color: #fadb41;
    /*bottom: 0px;*/
    position: absolute;
    /*margin-bottom: 0;*/
    padding: 0px;
}
#Content {
    width: 100%;
    height: 1000px;
    background-color: blue;
}

#Login {
    margin-top: 100px !important;
}

.hide {
    display: none !important;
}

.container {
    display: flex;
    justify-content: center;
}
